[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"


[dev-packages]
tqdm = "*"
ipywidgets = "*"
groq = "*"
python-dotenv = "*"
jupyterlab = "*"

[requires]
python_version = "3.12"
