[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
rank-bm25 = "*"
gunicorn = "*"
requests = "*"
openai = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
groq = "*"
python-dotenv = "*"
jupyterlab = "*"
notebook = "*"
hyperopt = "*"
rank-bm25 = "*"

[requires]
python_version = "3.12"
