[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
python-dotenv = "*"

[dev-packages]
tqdm = "*"
ipywidgets = "*"
groq = "*"
python-dotenv = "*"
jupyterlab = "*"
notebook = "==7.1.2"
hyperopt = "*"
requests = "*"
rank-bm25 = "*"

[requires]
python_version = "3.12"
